/*
Font sizes
Chapter title = 20pt
chapter subheading = 16pt
section title = 16pt
section subheading = 14pt;
*/
midpane{
position:absolute;
left:20%;
right:0;
top:0;
width:80%;
bottom:0;
background:white;
overflow-y: auto;
}

#student,#faculty,#subject{
  margin:40pt;
}
#student{
  display: block;
}
profile-pic{
  display: block;
}
name{
  display:block;
  font-size: 20pt;
  padding-top: 20pt;
  padding-bottom: 20pt;
}
id{
  display:block;
  font-size: 16pt;
  padding-bottom:20pt;
}
table{
  display: table;
  font-size: 14pt;
}
table tr td{
  width:200pt;
  height:25pt;
}
