body{
position:fixed;
top:0;
left:0;
padding:0;
margin:0;
width:100vw;
height:100vh;
background:rgba(200,200,200,1);
}
app{
background:rgba(255,255,255,1);

}
fieldset{
padding:10pt;
width:50%;
}
text{
border-radius:2pt;
width:100pt;
height:30pt;
background:rgba(255,255,255,1);
}
textinput{
background:rgba(255,255,255,1);
width:80pt;
height:30pt;
display:inline-block;
}
